TFG/
.venv/
venv/

data/**
!data/**/
!data/**/.gitkeep

checkpoints/*
!checkpoints/.gitkeep
*.pth
*.pt
*.ckpt

*.task

__pycache__/
*.py[cod]
*.egg-info/

.ipynb_checkpoints/

.vscode/
.idea/
Thumbs.db
.DS_Store
desktop.ini

.env
